@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}

.design {
    width: 90rem;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    width: 20rem;
    height: 31.06rem;
    text-align: center;
    overflow: hidden;
    border-radius: 1rem;
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, .2);
}

.card-header {
    padding: 1rem;
}

.pic {
    display: inline-block;
    margin: auto;
    border-radius: .5rem;
}

.pic img {
    display: block;
    width: 18rem;
    height: 18rem;
    border-radius: .5rem;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.25rem;
    padding: .625rem 1.688rem;
}

.desc {
    font-weight: 400;
    font-size: .9375rem;
    color: hsl(220, 15%, 55%);
    padding: 0 1.563rem;
}